html {
  scroll-behavior: smooth !important;
}

:root {
  --font-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}